In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

X_train = pd.read_csv('https://raw.githubusercontent.com/msaricaumbc/DS_data/master/ds602/final/employee_departure_dataset_X.csv')
y_train = pd.read_csv('https://raw.githubusercontent.com/msaricaumbc/DS_data/master/ds602/final/employee_departure_dataset_y.csv')
X_train['left'] = y_train

In [2]:
X_train.columns

Index(['RecordId', 'Gender', 'Distance', 'YearsWorked', 'TrainingHours',
       'WorkLifeBalance', 'NumOfProjects', 'JobInvolvement', 'TeamSize',
       'MentorshipReceived', 'TechSkillLevel', 'AttendanceRate', 'StressLevel',
       'PeerFeedbackScore', 'AnnualLeaveDays', 'Certifications',
       'SkillDevelopmentCourses', 'ProjectComplexity', 'WorkSatisfactionScore',
       'JobEngagementScore', 'PhysicalActivityScore', 'MentalWellbeingScore',
       'DepartmentCode', 'PreviousSalary', 'Salary', 'SelfReview',
       'SupervisorReview', 'left'],
      dtype='object')

In [3]:
X_train.describe()

,RecordId,Gender,YearsWorked,TrainingHours,WorkLifeBalance,NumOfProjects,JobInvolvement,TeamSize,MentorshipReceived,TechSkillLevel,...,SkillDevelopmentCourses,ProjectComplexity,WorkSatisfactionScore,JobEngagementScore,PhysicalActivityScore,MentalWellbeingScore,DepartmentCode,SelfReview,SupervisorReview,left
count,500000.000000,500000.000000,500000.000000,500000.000000,500000.000000,500000.000000,500000.000000,500000.000000,500000.00000,500000.000000,...,500000.000000,500000.000000,500000.000000,500000.000000,500000.000000,500000.000000,500000.000000,498958.000000,499005.000000,500000.000000
mean,250099.500000,0.401232,7.002552,49.483502,3.002836,10.007036,2.996948,9.998880,0.50067,2.999154,...,0.499882,3.001772,4.997358,4.995824,4.996368,5.003052,3.999612,4.399968,4.096981,0.360922
std,144337.711634,0.490148,1.868050,28.866048,1.413991,5.478671,1.414536,5.479373,0.50000,1.414082,...,0.500000,1.413426,2.583222,2.582022,2.579361,2.580972,2.161918,0.663515,0.945597,0.480268
min,100.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000,0.00000,1.000000,...,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,3.000000,2.000000,0.000000
25%,125099.750000,0.000000,6.000000,24.000000,2.000000,5.000000,2.000000,5.000000,0.00000,2.000000,...,0.000000,2.000000,3.000000,3.000000,3.000000,3.000000,2.000000,4.000000,4.000000,0.000000
50%,250099.500000,0.000000,7.000000,50.000000,3.000000,10.000000,3.000000,10.000000,1.00000,3.000000,...,0.000000,3.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,4.000000,0.000000
75%,375099.250000,1.000000,8.000000,74.000000,4.000000,15.000000,4.000000,15.000000,1.00000,4.000000,...,1.000000,4.000000,7.000000,7.000000,7.000000,7.000000,6.000000,5.000000,5.000000,1.000000
max,500099.000000,1.000000,14.000000,99.000000,5.000000,19.000000,5.000000,19.000000,1.00000,5.000000,...,1.000000,5.000000,9.000000,9.000000,9.000000,9.000000,7.000000,5.000000,5.000000,1.000000

In [4]:
X_train.head()

,RecordId,Gender,Distance,YearsWorked,TrainingHours,WorkLifeBalance,NumOfProjects,JobInvolvement,TeamSize,MentorshipReceived,...,WorkSatisfactionScore,JobEngagementScore,PhysicalActivityScore,MentalWellbeingScore,DepartmentCode,PreviousSalary,Salary,SelfReview,SupervisorReview,left
0,100,1,>30miles,7,91,4,14,3,8,1,...,3,2,9,5,5,72K,73K,4.0,4.0,0
1,101,0,~10miles,10,52,5,9,2,10,0,...,3,4,8,1,1,62K,64K,4.0,4.0,0
2,102,0,~10miles,10,80,3,13,3,16,0,...,7,2,7,8,5,73K,74K,4.0,2.0,1
3,103,0,~15miles,5,6,3,15,5,16,0,...,6,9,5,5,1,63K,64K,5.0,5.0,0
4,104,1,~10miles,10,3,2,13,3,18,0,...,3,4,4,4,2,60K,64K,4.0,4.0,0

In [5]:
X_train.isnull().sum()

RecordId                      0
Gender                        0
Distance                    508
YearsWorked                   0
TrainingHours                 0
WorkLifeBalance               0
NumOfProjects                 0
JobInvolvement                0
TeamSize                      0
MentorshipReceived            0
TechSkillLevel                0
AttendanceRate                0
StressLevel                   0
PeerFeedbackScore             0
AnnualLeaveDays               0
Certifications                0
SkillDevelopmentCourses       0
ProjectComplexity             0
WorkSatisfactionScore         0
JobEngagementScore            0
PhysicalActivityScore         0
MentalWellbeingScore          0
DepartmentCode                0
PreviousSalary                0
Salary                        0
SelfReview                 1042
SupervisorReview            995
left                          0
dtype: int64

Will need to impute distance, self review, supervisor review.

In [7]:
X_train['left'].value_counts()

left
0    319539
1    180461
Name: count, dtype: int64

Data is Unbalanced, ~60% stayed, 40% left.

In [23]:
for col in X_train.columns:
    print(X_train[col].value_counts().sort_index())

RecordId
100       1
101       1
102       1
103       1
104       1
         ..
500095    1
500096    1
500097    1
500098    1
500099    1
Name: count, Length: 500000, dtype: int64
Gender
0    299384
1    200616
Name: count, dtype: int64
Distance
<5mile       49840
>30miles     49321
~10miles    150125
~15miles    149987
~20miles    100219
Name: count, dtype: int64
YearsWorked
0         24
1        447
2       2746
3      10967
4      30712
5      60647
6      91450
7     104838
8      92331
9      61147
10     30505
11     10953
12      2784
13       411
14        38
Name: count, dtype: int64
TrainingHours
0     4889
1     5052
2     4966
3     4941
4     5086
      ...
95    4948
96    4995
97    5044
98    5060
99    5076
Name: count, Length: 100, dtype: int64
WorkLifeBalance
1     99418
2    100476
3     99781
4     99920
5    100405
Name: count, dtype: int64
NumOfProjects
1     26144
2     26242
3     26468
4     26271
5     26347
6     26393
7     26453
8     26005
9     26454
10    26019
11    26398
12    26160
13    26400
14    26240
15    26195
16    26858
17    26327
18    26142
19    26484
Name: count, dtype: int64
JobInvolvement
1    100282
2    100295
3     99941
4     99631
5     99851
Name: count, dtype: int64
TeamSize
1     26374
2     26510
3     26203
4     26255
5     26141
6     26347
7     26470
8     26230
9     26345
10    26451
11    26357
12    26267
13    26226
14    26296
15    26099
16    26202
17    26429
18    26500
19    26298
Name: count, dtype: int64
MentorshipReceived
0    249665
1    250335
Name: count, dtype: int64
TechSkillLevel
1     99910
2    100315
3    100136
4     99566
5    100073
Name: count, dtype: int64
AttendanceRate
80.000028    1
80.000044    1
80.000179    1
80.000181    1
80.000204    1
            ..
99.999862    1
99.999915    1
99.999953    1
99.999965    1
99.999971    1
Name: count, Length: 500000, dtype: int64
StressLevel
1     99866
2     99653
3     99925
4    100258
5    100298
Name: count, dtype: int64
PeerFeedbackScore
1     99877
2     99657
3    100292
4    100197
5     99977
Name: count, dtype: int64
AnnualLeaveDays
0     16632
1     16634
2     16536
3     16625
4     16665
5     16762
6     16487
7     16804
8     16769
9     16646
10    16611
11    16739
12    16537
13    16760
14    16581
15    16914
16    16614
17    16669
18    16662
19    16560
20    16841
21    16670
22    16544
23    16598
24    16559
25    16649
26    16677
27    16657
28    16848
29    16750
Name: count, dtype: int64
Certifications
0     99821
1    100018
2    100082
3     99671
4    100408
Name: count, dtype: int64
SkillDevelopmentCourses
0    250059
1    249941
Name: count, dtype: int64
ProjectComplexity
1     99777
2     99800
3    100052
4    100502
5     99869
Name: count, dtype: int64
WorkSatisfactionScore
1    55827
2    55449
3    55553
4    55826
5    55454
6    55085
7    55762
8    55519
9    55525
Name: count, dtype: int64
JobEngagementScore
1    55623
2    55567
3    56018
4    55430
5    55548
6    55418
7    55555
8    55321
9    55520
Name: count, dtype: int64
PhysicalActivityScore
1    55648
2    55407
3    55356
4    55770
5    56216
6    55789
7    55238
8    55090
9    55486
Name: count, dtype: int64
MentalWellbeingScore
1    55272
2    55697
3    55201
4    55893
5    55628
6    55475
7    55621
8    55569
9    55644
Name: count, dtype: int64
DepartmentCode
1    83644
2    83421
3    82791
5    83339
6    83383
7    83422
Name: count, dtype: int64
PreviousSalary
38K      3
39K      8
40K     15
41K     48
42K    124
      ...
95K     98
96K     34
97K      8
98K      2
99K      1
Name: count, Length: 62, dtype: int64
Salary
100K      33
101K      10
102K       1
103K       1
40K       12
        ...
95K     1186
96K      847
97K      351
98K      206
99K       83
Name: count, Length: 64, dtype: int64
SelfReview
3.0     49960
4.0    199471
5.0    249527
Name: count, dtype: int64
SupervisorReview
2.0     50440
3.0     49923
4.0    199445
5.0    199197
Name: count, dtype: int64
left
0    319539
1    180461
Name: count, dtype: int64